@import "../../App.scss";

.dashboard-content {
    display: flex;
    flex-direction: column;
    padding: 15px 50px 50px 50px;
}

.title {
    color:black;
    font-size: 30px;
    margin: 0px;
}

.sub-title {
    color: rgb(0,0,0,0.5);
    font-size: 18px;
    border-bottom: rgb(0,0,0,0.5) solid 2px;
    height: 45px;
    margin-bottom: 20px;
}

.event-container {
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
}

.event-creation-box {
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px;
    background-color: #f0f0f0;

    &:hover {
        background-color: #FBF4DB;
    }

    .first-add-btn {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        &:hover {
            background-color: transparent;
        }
    }

    .add-btn {
        background-color: white;
        color: black;
        height: 50px;
        width: 50px;
        border-radius: 20px;
    }

    h3 {
        margin: 0;
    }
}