// Type Kit Font Sizes
$DT-Header: 2.063rem; // 33px
$DT-Section-Header: 0.75rem; // 12px
$DT-SubHeader: 0.875rem; // 14px
$DT-Body: 0.875rem; //14px
$DT-Labels-Buttons: 0.75rem; //12px;

$M-Header: 2rem; // 24px
$M-Section-Header: 0.75rem; // 12px
$M-SubHeader: 0.813rem; // 13px
$M-Body: 0.813rem; // 13px
$M-Labels-Buttons: 0.625rem; // 10px