@import "../../../../App.scss";

.sub-header {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    justify-content: space-between;

    @include mobile {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    @include tablet {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
    }
}

.add-attendee-box {
    border-radius: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100px;

    &:hover {
        background-color: #FBF4DB;
    }

    .first-add-btn {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        &:hover {
            background-color: transparent;
        }

        .add-btn {
            background-color: white;
            color: black;
            height: 50px;
            width: 50px;
            border-radius: 20px;
        }

    }

    h3 {
        margin: 0;
    }

    .instructions-title{
        padding-top: 30px;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    gap: 15px;
    padding-top: 10px;

    .save-btn, .next-btn {
        background-color: $GatherUp-Yellow;
        color: black;
        padding: 10px;
        width: 150px;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        padding: 5px;
        font-size: 14px;

        &:hover{
            opacity: 100%;
        }
    }
}

.attendee-list {
    list-style-type: none;
}