.sub-nav-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-inline-start: 0;
    border-bottom: rgb(0,0,0,0.5) solid 2px;
    margin-bottom: 20px;
    
    .sub-nav-text {
    color: rgb(0,0,0,0.5);
    font-size: 18px;
    height: 45px;
    padding: 10px 16px 10px 16px;

        &:hover {
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.selected {
    font-size: 18px;
    font-weight: 700;
    background-color: #f2f2f2;
}