@import "../../App.scss";

header {
    width: 30%;
    height: 100vh;
    background-color: $GatherUp-Yellow;
    color: black;
    display: flex;
    flex-direction: column;
    @include mobile {
        width: auto;
        height: 100vh;
    }
    @include tablet {
        width: 30%;
        height: 100vh;
    }
    @include desktop{
        width: 20%;
        height: 100vh;
    }
}

.logo {
    height: 60px;
    width: 110px;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    margin: auto;
    @include tablet {
        height: 70px;
        width: 160px;
    }
    @include desktop {
        height: 100px;
        width: 200px;
    }
}

.nav-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline-start: 0;
    @include tablet {
        gap: 20px;
        padding-left: 20px;
    }
    @include desktop {
        gap: 10px;
        padding-left: 40px;
        gap: 30px;
    }

    .navText {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: flex;
            justify-content: flex-start;
            padding-left: 10px;
        }
    }
    
    .navIcon {
        background-color: $White;
        color: black;
        height: 50px;
        width: 50px;
        border-radius: 20px;
        @include desktop {
            height: 42px;
            width: 42px;
        }
    }
}

ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    @include tablet {
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
    }
    @include desktop {
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
    }

    &:hover {
        font-weight: 600;
    }
}