@import "../../App.scss";

.drop-down-labels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.print-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    padding: 5px 15px 5px 15px;
}
  
.print-options-container .checkmark {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
background-color: $GatherUp-Yellow;
}

.print-options-container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}