@import "../../../../App.scss";

.food-and-bev-info-box {
    @include mobile {
        display: flex;
        flex-direction: column;
    }
    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }
    .food-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        height: 30px;
        padding: 10px 0 10px 0;
        @include mobile {
            padding: 0;
            justify-content: space-between;
        }
        @include tablet {
            padding: 0;
            justify-content: space-between;
        }
        p  {
            font-size: 14px;
        }
        input {
            margin-left: 10px;
        }
    }
}


h2 {
    margin: 0;
}

h3 {
    @include mobile {
        margin: 10px 0 5px 0;
    }
}

.sub-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    gap: 15px;
    padding-top: 10px;

    .save-btn, .next-btn {
        background-color: #FBF4DB;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 20px;
        font-weight: 600;
        padding: 5px;
    }
}