@import "../../../App.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    .event-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #f0f0f0;
        padding: 0 20px 20px 20px;
        border: transparent;
        border-radius: 20px;
        width: 250px;

        h2 {
            margin: -5px 0 0 0;
        }

        .event-overview-title {
            font-weight: 500;
            padding-bottom: 15px;
        }

        .quick-edit-title {
            font-weight: 500;
            margin: 0;
        }

        img {
            height: 150px;
            width: 100%;
        }

        .edit-btn {
            background-color: #FBF4DB;
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 10px;
            font-weight: 600;
            padding: 5px;
            margin-top: 15px;
        }

        .submit-btn, .edit-link-btn {
            background-color: #FBF4DB;
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 10px;
            font-weight: 600;
            padding: 5px;
            // margin-top: 15px;
        }

        .edit-mode {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .img-upload-label {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: transparent;
            background-color: rgba(0, 0, 0, 0);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            // transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
            }
        }

        .img-container {
            position: relative;
            height: 150px;
            width: auto;
        }

        .img-upload-input {
            display: none;
            height: 150px;
            width: auto;
            font-size: 10px;
        }
    }
    
    .exit-btn {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 10px 0 0px 0;
        font-weight: 800;
        outline: 0;
        display: flex;
        justify-content: flex-end;

        &:hover {
            color: red;
        }
    }
}